<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        button
        {
            cursor: pointer;
        }
    </style>
</head>
<body>

<p style="text-align: center; font-size: 40px"> Wybierz interesujący się tryb: </p>
<button onclick="location.href='/experimentator'" style="float: left; width: 40%;
height: 100px; margin-left: 30px; margin-top: 50px;">
Tryb eksperymentatora
</button>

<button onclick="location.href='/info/0'" style="float: right; width: 40%;
height: 100px; margin-right: 30px; margin-top: 50px;">
Tryb badawczy
</button>

<center><button onclick="location.href='/user/1'" style=" width: 40%;
height: 100px; margin-right: 30px; margin-top: 50px;">
Tryb pilotażowy
</button></center>
</body>
</html>